.text {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-light-color);
  font-size: 1.8rem;
}
.text i {
  animation: hello-animation 2.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes hello-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
