.slide {
  padding: 8rem 0;
  background-color: var(--dark-color);
  position: relative;
}
.slide *:not(video) {
  position: relative;
  z-index: 2;
}
.slidePreTitle {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.slideTitle * {
  display: block;
  margin: 1rem 0;
  font-size: 42px;
  max-width: 500px;
}
.slideTitle * span {
  background: radial-gradient(50% 50% at 50% 50%, #ff8a00 0%, #e52e71 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}
.slideText p {
  font-size: 1.8rem;
  opacity: 0.6;
  margin-bottom: 4rem;
}
